<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- CREDENTIALS -->
	<usr>pynum</usr>
	<pwd>changeit</pwd>

	<!-- INTERFACE ('gui' OR 'cli') -->
	<ui_mode>gui</ui_mode>

	<!-- DEBUG ('yes' or 'no') -->
	<debug_mode>no</debug_mode>

	<!-- PASSIVE SCANNER ('yes' or 'no') -->
	<passive_scanner>yes</passive_scanner>
	<passive_scanner_interface>wlan0</passive_scanner_interface>

</configuration>
